// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#search-header {
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8144e5;
}

#content {
  justify-content: center;
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

#results-body {
  margin: 1em auto;
  width: 70%;
}

#product-input-holder {
  width: 40%;
}

#filter-card {
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-left: 1em;
  width: 20%;
}
