<% @products.each do |product| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= product.title %>, $<%= product.price %></h5>
          <p class="card-text"><%= product.description %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
