<div id="search-body">
  <div id="search-header">
    <div id="product-input-holder">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag(:title, params[:title], class: "form-control") %>
      <% end %>
    </div>
  </div>

  <div id="content">
    <% if @products.size > 0 %>
      <div class="card mb-3" id="filter-card">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <%= form_tag(search_path, method: :get) do %>
                <select name="filters[filter_price]" id="filter" style="margin-top: 1em;">
                  <option selected="selected">Price</option>
                  <option value="highest_price">Highest Price</option>
                  <option value="lowest_price">Lowest Price</option>
                </select>

                <select name="filters[filter_new]" id="filter" style="margin-top: 1em;">
                  <option selected="selected">Date</option>
                  <option value="newest">Newest</option>
                  <option value="oldest">Oldest</option>
                </select>

                <select name="filters[filter_with_base_price]" id="filter" style="margin-top: 1em; margin-bottom: 0.5em;">
                  <option selected="selected">Filter with base price</option>
                  <option value="<">Less than</option>
                  <option value="=">Equal</option>
                  <option value=">">Greater than</option>
                </select>
                <%= number_field_tag('filters[base_price]', params[:price_base], placeholder: 'Base price', class: "form-control") %>

                <select name="filters[filter_country]" id="filter" style="margin-top: 1em; margin-bottom: 0.5em;">
                  <option selected="selected">Filter for country</option>
                  <% @countries.each do |country| %>
                    <option value="<%= country.name %>"><%= country.name %></option>
                  <% end %>
                </select>

                <%= submit_tag 'Filter' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div id="results-body">
      <% if @products && @products.size > 0 %>
          <%= render partial: 'products' %>
      <% else %>
        <% if @products %>
          <div class="alert alert-warning" role="alert">
              Could not find products!
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
